body {
    font-family: Arial, sans-serif;
    background-color: #002366;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

#menu-principal {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

button {
    padding: 15px 30px;
    background-color: #c70505;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}
