body {
    font-family: Arial, sans-serif;
    background-color: #002366;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    background-color: #001a4d;
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #002366;
    outline: none;
    width: 95%;
}

input[type="text"]:read-only {
    background-color: #e0e0e0;
    color: #000;
    cursor: not-allowed;
}

input[type="submit"] {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}

#nombreCliente {
    width: 95%;
}